{% extends "base.html" %}

{% block title %}Bio-Xəritə | BioMap{% endblock %}

{% block content %}
<div class="two-columns fade-in" style="display: flex; align-items: flex-start; gap: 30px; padding: 10px;">
    <div class="panel list-panel">
        <h3 class="neon-text-blue">📍 Monitorinq regionları</h3>
        <div class="button-stack">
        {% for key, val in countries.items() %}
            <form action="/map" method="POST" style="margin-bottom: 8px;">
                <input type="hidden" name="country" value="{{ key }}">
                <button type="submit" class="menu-btn {% if key == selected_id %}active{% endif %} " style="width: 100%; text-align: left;">
                    {{ val.name }}
                </button>
            </form>
        {% endfor %}
        </div>
    </div>

    <div class="panel detail-panel" style="width: 690px; position: relative; top: 20px;">
        {% if country %}
            <h2 class="neon-text">📊 Epidemioloji status: {{ country.name }}</h2>
            
            <div class="stats-grid">
                <div class="stat-card">
                    <h3 style="font-size: 20px; color: var(--text); margin-top: 10px;">{{ country.population }}</h3>
                    <p style="margin: 5px 0 0 0; color: #64748b;">Əhali</p>
                </div>
                <div class="stat-card">
                    <h3 style="font-size: 20px; color: var(--neon-blue);">{{ country.medicine }}</h3>
                    <p style="margin: 5px 0 0 0; color: #64748b;">Tibb</p>
                </div>
                <div class="stat-card">
                    <h3 style="font-size: 20px; color: var(--neon-red);">{{ country.danger_level }}</h3>
                    <p style="margin: 5px 0 0 0; color: #64748b;">Bio-Təhlükə</p>
                </div>
            </div>

            <h3 class="neon-text-blue" style="margin-top: 30px; font-size: 18px;">🔬 Aşkarlanmış endemik patogenlər:</h3>
            
            {% for disease in country.diseases %}
            <div class="block_in_divs">
                <div class="pathogen-card">
                    <h4 style="color: var(--neon-red); margin: 0 0 10px 0; font-size: 18px;">🦠 Patogen: {{ disease.name }}</h4>
                    <p style="margin: 5px 0;"><strong>Tip:</strong> {{ disease.type }}</p>
                    <p style="margin: 5px 0;"><strong>Simptomlar:</strong> {{ disease.symptoms }}</p>
                    <p style="margin: 5px 0;"><strong>Məlumat:</strong> {{ disease.info }}</p>
                    <p style="margin: 5px 0;"><strong>Ölümcüllük:</strong> <span class="neon-text" style="font-weight: bold;">{{ disease.fatality }}</span></p>
                    <p style="margin: 5px 0; color: #94a3b8;"><strong>Tövsiyə olunan protokol:</strong> {{ GEAR_LABELS.get(disease.item_needed) }}</p>
                </div>  
            {% endfor %}
            <br>
            <hr>
                <h3 class="neon-text-blue">👤Əhali statistikası:</h3>
                <div class="chart" id="chart">
                        {% for item in chart_data %}
                            <div class="bar" style="--h: {{ item.height }}px;">
                                <span class="value" id="value">{{item.value}}</span>
                                <span class="year">{{ item.year }}</span>
                            </div>
                        {% endfor %}
                </div>
                <br>
                <div class="analysis-panel">
                    <h3 style="color: var(--neon-blue)">Tarixi əhali təhlili:</h3>
                    {% if notes %}
                        {% for period, text in notes.items() %}
                            <div class="note-card" style="color: var(--neon-yellow);">
                                <strong style="color: var(--neon-green)">{{ period }}:</strong> {{ text }}
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>Bu region üçün tarixi təhlil məlumatları müvəqqəti olaraq yoxdur.</p>
                    {% endif %}
                </div>

                
        {% else %}
            <div style="text-align: center; padding-top: 90px; color: #4b5563;">
                <p style="font-size: 20px; color: var(--neon-blue); text-shadow: 0 0 5px var(--neon-blue);">🛰️ SİSTEM KOMANDA GÖZLƏYİR</p>
                <p style="font-size: 14px; max-width: 450px; margin: 10px auto; line-height: 1.6;">
                    Peyklərlə əlaqə stabildir. Bio-xəritələrin şifrəsini açmaq üçün terminalın sol panelində sektor seçin.
                </p>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}